* {
	font-family: "Bricolage Grotesque";
	font-weight: 400;
	font-size: 16;
	color: #FEFEDB;
	background: none;
}

window#waybar {
	background: #000000;
	background: linear-gradient(rgba(0, 0, 0, 0.8) 10%, rgba(0, 0, 0, 0.50) 60%, rgba(0, 0, 0, 0) 100%);
}

.modules-left {
	margin: 0 0.5em;
}

.modules-right {
	margin: 0 1.5em;
}

#workspaces button.active{
	border-bottom: solid rgba(0, 0, 0, 0.4) 2px;
}

#workspaces button {
	padding: 0;
	margin: 0px 2px;
	border-radius: 0;
}

#tray menu {
	background: rgba(0, 0, 0, 0.9);
}
