* {
	font-family: "Bricolage Grotesque";
	font-weight: 400;
	font-size: 18;
	color: #FEFEDB;
}

#window {
	background-color: rgba(0, 0, 0, 0.80);
	border: solid #B2A375 2px;
	border-radius: 2px;
}

#scroll {
	padding: 2em;
}

#input {
	background-color: #FEFEDB;
	color: #1B1612;
	box-shadow: none;
	border: none;
}

#entry:selected {
	background-color: #FEFEDB;
	color: #1B1612;
	border-radius: 2px;
}

#text:selected {
	color: #1B1612;
}

#expander-box {
	background: none;
	border: solid #FEFEDB 2px;
	border-radius: 2px;
	color: #1B1612;
	padding: 0em 1em;
}

#expander-box #text {
	color: #1B1612;
}
